<component name="libraryTable">
  <library name="logback-access-1.2.1">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/logback-access-1.2.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/logback-classic-1.2.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/logback-core-1.2.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/slf4j-api-1.7.24.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>